
<h1>New Task</h1>

<% if @task.errors.any? %>
  There were some errors!
  <ul>
    <% @task.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@task) do |t| %>

  <%= t.label      :name %>
  <%= t.text_field :name %>

  <%= t.label      :notes %>
  <%= t.text_field :notes %>

  <%= t.label      :due_date %>
  <%= t.date_select :due_date %>

  <%= t.submit :submit %>

<% end %>

<hr />

<ul>
  <li><%= link_to "Back to index", tasks_path %></li>
</ul>
